@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins.ttf')
};

@font-face {
    font-family: 'Playfair Display';
    src: url('../../public/fonts/PlayfairDisplay.ttf')
};

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans.ttf')
};