#gallery {
    padding-top: 4%;
    padding-bottom: 4%;
}

#groupPics {
    display: flex;
    flex-wrap: wrap;
}

.picsSolo {
    overflow: hidden;
    border-right: 3px solid #454035;
    border-bottom: 3px solid #454035;
    width: 25%;
}

.picsSolo img {
    transition: all ease-in-out 0.4s;
}

.picsSolo:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 850px) {
    #groupPics{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .picsSolo {
        width: 60%;
        border: 3px solid #454035;
        margin: 0.5%;
    }
}

@media screen and (max-width: 768px) {
    #gallery {
        padding-top: 7%;
    }
}