#specials {
    padding-top: 4%;
    padding-bottom: 4%;
}

#specials #divSpecials {
    display: flex;
}

#leftSpecials {
    width: 28%;
}

#leftSpecials ul {
    border: 0;
    flex-direction: column;
}

#leftSpecials li {
    list-style: none;
    transition: 0.3s;
}

#leftSpecials li:hover a {
    color: $orangeux;
}

#leftSpecials li a {
    color: white;
    border: 0;
    padding: 12px 15px;
    transition: 0.3s;
    border-radius: 0;
    border-right: 2px solid #cda45e;
    font-weight: 600;
    font-size: 15px;
}

.activeTab .designTab h3{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}

.activeTab .designTab p{
    color: #aaaaaa;
}

.activeTab .designTab p:nth-child(2){
    color: #aaaaaa;
    font-style: italic;
}

.imgTab {
    text-align: center;
}

.imgOfimgTab {
    max-width: 100%;
    height: auto;
}

#rightSpecials {
    width: 70%;
}

#rightSpecials .englobeSpecials{
    display: flex;
}

.englobeSpecials {
    padding-left: 2%;
}

.active {
    background-color: #cda45e;
}

.active a {
    color: #1a1814!important;
}

@media screen and (max-width: 768px) {
    #divSpecials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #leftSpecials {
        width: 100%;
    }

    #leftSpecials li a {
        border-right: 0;
    }

    #leftSpecials li a {
        border-bottom: 2px solid #cda45e;
    }
}

@media screen and (max-width: 768px) {
    #specials {
        padding-top: 6%;
    }
    .englobeSpecials {
        flex-direction: column;
    }
}